<div class="mt-5" >
  
<form action="/login/store" method="post" >

  <div class="form-group">
    <label for="exampleInputEmail1">Tên đăng nhập</label>
    <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Tên đăng nhập" name="name">
    
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Mật khẩu</label>
    <input class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu" name="password" type="password">
  </div>
  <button type="submit" class="btn btn-primary sub mb-4">Submit</button>
  {{!-- <h3>Chưa có tài khoản?</h3>
    <a href="/signup">Create a new account</a> --}}
</form>

</div>



    {{!-- <h1>Login Form</h1>

    <form action="/login/store" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
     <h3>Dont have a account ?</h3>
    <a href="/signup">Create a new account</a>
    </form> --}}
