<div class="mt-4">
    <h3>Thêm khách hàng</h3>

            <form method="POST" action = "/customers/store">
            <div class="form-group">
            <label for="name">Tên khách hàng</label>
            <input type="text" class="form-control" id="name" name="name" value="">
        </div>

        <div class="form-group">
            <label for="code">Mã số khách hàng</label>
            <input type="text" class="form-control" id="code" name="code">
        </div>

    <div class="form-group">
            <label for="product">Sản phẩm mua</label>
            <input type="text" class="form-control" id="product" name="product" value="{{agencies.name}}">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khách hàng</button>
        </form>
</div>

